body
{
	background-color: #D3D5D7;
	font-style: italic;
	font-size: 24px;
	font-family: 'Pangolin', cursive;
}
#nav
{
	border-radius: 0;
	background:#95989A;
	border: 0;
	height: 100px;
}
.navbar-brand 
{
  padding-top: 25px;
}
.navbar-brand h1
{
 	color: #59A8F8;
  	font-size: 2em;
  	font-weight: bold;
  	text-shadow: 1px 1px 1px #222;
  	margin-top: 10px;
  	margin-bottom: 20px;
  	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus 
{
  text-decoration: none;
}
#nav-list
{
	margin-top: 10px;
}
#nav-list a
{
	text-align: center;
	color: #C100C1;
}
#nav-list a span 
{
  font-size: 1.5em;
}
#nav-list a:hover {
  background: #95989A;
}
navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #D3D5D7;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav a span 
{ 
  font-size: 1em;
  margin-right: 10px;
  margin-bottom: 10px;
}
#bttn
{
	margin-top: 7px;
}
.text-center
{
	font-weight: bold;
	font-size: 30px;
}
#chicken,#beef,#sushi
{
	background:#95989A;
	border: 0;
	margin:20px auto 10px;
}
#text
{
	font-size: 24px;
	padding: 10px 15px 10px 15px;
	font-style: italic;
}
@media(max-width:767px)
{
	#main
	{
		margin-top: 100px;
	}
}
